<div id="login-form-wrap">
 
    <form id="login-form"[formGroup]="loginForm" (ngSubmit)="Login()">
      <p>
      <input type="text" id="username"  placeholder="Username"  [(ngModel)]="username" formControlName="EmployeeId"  name="username" required><i class="validation"><span></span><span></span></i>
      </p>
      <p>
      <input type="email" id="email" type="password" placeholder="Password"  [(ngModel)]="password" formControlName="Password" name="password" required><i class="validation"><span></span><span></span></i>
      </p>
      <p>
      <input type="submit" id="login" value="Login">
      </p>
    </form>

  </div>