<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Add Employee</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="onClose(false)"
    ></button>
  </div>
  <div class="modal-body">
    <form [formGroup] = "AppForm" class="form-group" >
        <input type="text"  class="form-control" formControlName="EmployeeName" placeholder="Employee Name">
        <br>
        <input type="password"  class="form-control" formControlName="Password" placeholder="Employee Password">
        <br>
        <input type="text"  class="form-control" formControlName="TeamNumber" placeholder="Employee Team Number">
        <br>
        <input type="text"  class="form-control" formControlName="PhoneNumber" placeholder="Employee Phone Number">
        <br>
        <input type="text"  class="form-control" formControlName="Address" placeholder="Employee Address">
        <div class="modal-footer">
    
            <button type="button" class="btn btn-dark" (click)="addEmployee();">Submit</button>
          </div>
    </form>
  </div>
  