
.grid-container{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:30px 30px;
  }
  .card:hover{
    transform: scale(1.05);
 box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}