<div *ngIf="adminOrNot==false">
    <div style="margin-left:40% ;">
    <ul class="list-group">
        <li class="list-group-item">Employee Name: {{currentEmployee.employeeName}}</li>
        <li class="list-group-item">Employee ID: {{currentEmployee.employeeId}}</li>
        <li class="list-group-item">Employee Team No:
            {{currentEmployee.teamNumber}}</li>
        <li class="list-group-item">Employee Phone
            Number:{{currentEmployee.phoneNumder}}</li>
        <li class="list-group-item">Employee Address:
            {{currentEmployee.address}}</li>
    </ul>
    </div>
</div>

<div *ngIf="adminOrNot==true">
    <div class="top-container" style="margin-top: 20px; margin-left:10px;">
        <button class="btn btn-secondary" style="margin-top: 10px;
            margin-left:10px;" (click)="openModal()"> Add Employee</button></div>
    <div class="details" style="margin-left:40% ;"><ul >
            <li class="list-group-item" >Employee Name: {{currentEmployee.employeeName}}</li>
            <li class="list-group-item">Employee ID:
                {{currentEmployee.employeeId}}</li>
            <li class="list-group-item">Employee Team No:
                {{currentEmployee.teamNumber}}</li>
            <li class="list-group-item">Employee Phone
                Number:{{currentEmployee.phoneNumder}}</li>
            <li class="list-group-item">Employee Address:
                {{currentEmployee.address}}</li>
        </ul> 
    </div>
    <div class="grid-container">
        <div *ngFor="let e of allEmployees" class="card hover-overlay"
            style="padding:1em ;">
            <div id="albumbox" class="card-title"><p>EmployeeName: {{e.employeeName}} </p><br>
                <div ><p> EmployeeId: {{e.employeeId}}</p></div>
                <div><p>Phone Number: {{e.phoneNumder}}</p></div>
                <div><p>Address: {{e.address}}</p></div>


            </div>
        </div>
    </div>
</div>