<nav class="navbar navbar-light  bg-light">
    <h2 *ngIf="loginStatus==false" class="justify-content-center" style="margin-left: 45% ;" > Login Page</h2>
    <h2 *ngIf="loginStatus==true" class="justify-content-center" style="margin-left: 45% ;"> Details</h2>
    

    
    <button *ngIf="loginStatus==true" (click)="logout()" class="login btn btn-light" routerLink="/LoginPage">Logout</button>
  </nav>